<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0"
>
    <!-- Config here. -->
<servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class> <!-- Including the package thus -->
</servlet>
<servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/userRegister</url-pattern>  <!-- This is the URL of the servlet. -->
</servlet-mapping>
</web-app>